<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >

<body>
<th:block th:fragment="welcomeMessageFragment">
    <div class="row justify-content-center" id="welcomeMessage">
        <div class="col-sm-8 alert alert-primary alert-dismissible fade show">
            Oszczędzaj z nami. Nie kupuj narzędzi które wykorzystasz tylko raz. Wypożyczaj je!<br>
            Lub jeżeli posiadasz dużo narzędzi które kurzą się u Ciebie? Zarabiaj na nich!
            <!-- Who does the javascript ? -->
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
        </div>
    </div>
</th:block>
</body>
</html>