<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: headerFragment(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})"></div>
    <div class="row" id="navBar">
        <div class="col">
            <a th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a id="current" th:href="@{/offer/createFromCategory}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div th:replace="fragments/welcomeMessageFragment.html :: welcomeMessageFragment"></div>
    <div class="row" style="margin-left:40px">
            <th:block th:each="category : ${categories}">
                <div class="col-sm-4">
                    <p><b th:text="${category.categoryName}"></b></p>
                    <th:block th:each="subcategory : ${category.children}">
                        <p><a th:href="@{/offer/create/{catId}(catId=${subcategory.id})}" th:text="${subcategory.categoryName}"></a></p>
                    </th:block>
                </div>
            </th:block>
    </div>
    <div th:replace="fragments/footerFragment.html :: footerFragment"></div>
</div>
</body>
</html>
