<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: headerFragment(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})"></div>
    <div class="row" id="navBar">
        <div class="col">
            <a id="current" th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a th:href="@{/offer/add}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div th:replace="fragments/welcomeMessageFragment.html :: welcomeMessageFragment"></div>
    <div class="row" id="content">
        <div class="col-sm-3" id="categories">
            <div class="categories-inside">
                <div class="categories-header">Kategorie:<br></div>
                <div class="btn-group dropright" style="margin-bottom: 10px">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" type="button">
                        Elektryczne
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Spawarki</a>
                        <a class="dropdown-item" href="#">Wiertarki</a>
                        <a class="dropdown-item" href="#">Szlifierki</a>
                        <a class="dropdown-item" href="#">Urządzenia czyszczące</a>
                    </div>
                </div>
                <br>
                <div class="btn-group dropright" style="margin-bottom: 10px">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" type="button">
                        Mechaniczne
                    </button>
                    <div aria-labelledby="mechanicalTools" class="dropdown-menu">
                        <button class="dropdown-item" type="button">Klucze</button>
                        <button class="dropdown-item" type="button">Wkrętaki</button>
                        <button class="dropdown-item" type="button">Ściski</button>
                        <button class="dropdown-item" type="button">Szczypce, nożyce, obcęgi</button>
                    </div>
                </div>
                <br>
                <div class="btn-group dropright" style="margin-bottom: 10px">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" type="button">
                        Spalinowe
                    </button>
                    <div aria-labelledby="gasolineTools" class="dropdown-menu">
                        <button class="dropdown-item" type="button">Kosiarki</button>
                        <button class="dropdown-item" type="button">Piły</button>
                        <button class="dropdown-item" type="button">Zagęszczarki</button>
                        <button class="dropdown-item" type="button">Agregaty prądotwórcze</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF MENU -->
        <!-- END OF MENU -->
        <!-- END OF MENU -->
        <!-- END OF MENU -->
        <!-- END OF MENU -->
        <!-- Items -->
        <div class="col" style="margin-right: 15px">
            <th:block> <!-- Single item -->
                <div class="row offer">
                    <div class="col-sm-3 offer-thumbnail">
                        <img th:src="@{/images/logo.png}" width="200px">
                    </div>
                    <div class="col">
                        <div class="offer-content">
                            <a href="http://www.google.com">
                                <p class="offer-title">Piła spalinowa !!</p>
                                <p class="offer-desc">5KM, 500ccm 50cm prowadnica, świeżo naostrzony łańcuch</p>
                                <div class="offer-auxData">
                                    Wygaśnie za 5dni
                                    <div style="text-align: right">
                                        <b>50zł/dzień</b>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block> <!-- Single item -->
        </div>
    </div>
    <div th:replace="fragments/footerFragment.html :: footerFragment"></div>

</div>
</body>
</html>
