<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: headerFragment(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})"></div>
    <div class="row" id="navBar">
        <div class="col">
            <a id="current" th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a th:href="@{/offer/createFromCategory}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div th:replace="fragments/welcomeMessageFragment.html :: welcomeMessageFragment"></div>
    <div class="row" id="content">
        <div th:replace="fragments/categoryBarFragment.html :: categoryBarFragment(parentCategories = ${parentCategories})"></div>
        <!-- END OF MENU -->
        <!-- END OF MENU -->
        <!-- Items -->
        <div class="col" style="margin-right: 15px">
            <th:block th:if="${offers.size() > 0}" th:each="offer : ${offers}"> <!-- Single item -->
                <div class="row offer">
                    <div class="col-sm-3 offer-thumbnail">
                        <img th:if="${offer.offerImages.size() > 0}" th:src="@{/images/{offerPhoto}(offerPhoto=${offer.offerImages.get(0)})}" width="200px">
                    </div>
                    <div class="col">
                        <div class="offer-content">
                            <a th:href="@{/offer/view/{offerId}(offerId=${offer.id})}">
                                <p th:text="${offer.title}" class="offer-title">Piła spalinowa !!</p>
                                <p th:text="${offer.description}" class="offer-desc">5KM, 500ccm 50cm prowadnica, świeżo naostrzony łańcuch</p>
                                <div class="offer-auxData">
                                    <th:block th:text="'Wygaśnie ' + ${offer.timeOfExpiration.toLocalDate()}"></th:block>
                                    <div style="text-align: right">
                                        <b th:text="${offer.cost}+'zł/dzień'">50zł/dzień</b>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block> <!-- Single item -->
        </div>
    </div>
    <div th:replace="fragments/footerFragment.html :: footerFragment"></div>

</div>
</body>
</html>
