<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: header(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})">

    </div>
    <div class="row" id="navBar">
        <div class="col">
            <a th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a th:href="@{/offer/add}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div class="row justify-content-center" id="welcomeMessage">
        <div class="col-sm-8 alert alert-primary alert-dismissible fade show">
            Oszczędzaj z nami. Nie kupuj narzędzi które wykorzystasz tylko raz. Wypożyczaj je!<br>
            Lub jeżeli posiadasz dużo narzędzi które kurzą się u Ciebie? Zarabiaj na nich!
            <!-- Who does the javascript ? -->
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
        </div>
    </div>
    <div class="row justify-content-sm-center" id="content">
        <div class="col-sm-5" style="text-align: center" >
            <p th:utext="${message}"></p>
        </div>
    </div>
    <div id="footer" class="row justify-content-sm-center">
        <div class="page-divider">&nbsp;</div>
        <div class="col-sm-3" style="text-align: center">
            <p>MyToolYourTool &copy; 2020</p>
        </div>
    </div>
</div>
</body>
</html>
