<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: headerFragment(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})">

    </div>
    <div class="row" id="navBar">
        <div class="col">
            <a th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a th:href="@{/offer/createFromCategory}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a id="current" th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div th:replace="fragments/welcomeMessageFragment.html :: welcomeMessageFragment"></div>
    <div class="row justify-content-sm-center">
        <th:block th:if="${offer.offerImages.size() != 0}">
            <div class="col-md-8">
                <h3>Zdjęcia:</h3><br>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-6" th:each="image : ${offer.offerImages}">
                    <a th:href="@{/image/get/{image}(image=${image.id})}">
                        <img style="width: 500px" th:src="@{/image/get/{image}(image=${image.id})}" >
                    </a>
                </div>
            </div>
        </th:block>
        <div class="col-sm-7">
            <div class="offer-content">
                    <p th:text="${offer.title}" class="offer-title">Piła spalinowa !!</p>
                    <p th:text="${offer.description}" class="offer-desc">5KM, 500ccm 50cm prowadnica, świeżo naostrzony łańcuch</p>
                    <p th:text="'Kontakt: ' + ${offer.owner.mail}">mail</p>
                    <div class="offer-auxData">
                        <th:block th:text="'Dodano ' + ${offer.timeOfIssue.toLocalDate()}"></th:block>
                        <div style="text-align: right">
                            <b th:text="${offer.cost}+'zł/dzień'">50zł/dzień</b>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footerFragment.html :: footerFragment"></div>
</div>
</body>
</html>
