<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: headerFragment(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})">

    </div>
    <div class="row" id="navBar">
        <div class="col">
            <a th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a th:href="@{/offer/createFromCategory}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a id="current" th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div th:replace="fragments/welcomeMessageFragment.html :: welcomeMessageFragment"></div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-5" style="width: 300px; float: none; margin: 0 auto">
            <form action="#" method="post" th:action="@{/updateProfile}" th:object="${profileEditForm}">
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">ID:</label>
                    <input class="col-8" readonly style="color: lightgray" th:field="*{id}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Nazwa użytkownika:</label>
                    <input class="col-8" readonly style="color: lightgray" th:field="*{username}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Data dołączenia:</label>
                    <input class="col-8" readonly style="color: lightgray" th:field="*{createdAt}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Email:</label>
                    <input class="col-8" th:field="*{email}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Kod pocztowy:</label>
                    <input class="col-8" th:field="*{postalCode}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Nowe hasło:</label>
                    <input class="col-8" th:field="*{newPasswordFirst}" type="password">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Powtórz hasło:</label>
                    <input class="col-8" th:field="*{newPasswordSecond}" type="password">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Aktualne hasło:</label>
                    <input class="col-8" th:field="*{currentPassword}" type="password">
                </div>
                <input class="btn btn-primary form-control" style="margin-left: 10px" type="submit"
                       value="Aktualizuj dane">
            </form>
        </div>
    </div>
    <div class="page-divider">&nbsp;</div>
    <div class="col" style="margin-right: 15px">
        <th:block th:if="${userOffers.size() > 0}" th:each="item : ${userOffers}"> <!-- Single item -->
            <div class="row offer">
                <div class="col-sm-3 offer-thumbnail">
                    <img th:if="${item.offerImages.size() > 0}" th:src="@{/images/{offerPhoto}(offerPhoto=${item.offerImages.get(0)})}" width="200px">
                </div>
                <div class="col">
                    <div class="offer-content">
                        <a th:href="@{/offer/view/{offerId}(offerId=${item.id})}">
                            <p th:text="${item.title}" class="offer-title">tytul</p>
                            <p th:text="${item.description}" class="offer-desc">opis</p>
                            <div class="offer-auxData">
                                <th:block th:text="'Wygaśnie ' + ${item.timeOfExpiration.toLocalDate()}"></th:block>
                                <div style="text-align: right">
                                    <b th:text="${item.cost}+'zł/dzień'"></b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </th:block> <!-- Single item -->
    </div>
    <div th:replace="fragments/footerFragment.html :: footerFragment"></div>
</div>
</body>
</html>
