<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: header(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})">

    </div>
    <div class="row" id="navBar">
        <div class="col">
            <a th:href="@{/}">Strona głowna</a>
        </div>
        <th:block th:if="${username != null}">
            <div class="col">
                <a th:href="@{/offer/add}">Utwórz ofertę</a>
            </div>
        </th:block>
        <th:block th:if="${username == null}">
            <div class="col">
                <a th:href="@{/login}">Login</a>
            </div>
            <div class="col">
                <a th:href="@{/register}">Rejestracja</a>
            </div>
        </th:block>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a id="current" th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div class="row justify-content-center" id="welcomeMessage">
        <div class="col-sm-8 alert alert-primary alert-dismissible fade show">
            Oszczędzaj z nami. Nie kupuj narzędzi które wykorzystasz tylko raz. Wypożyczaj je!<br>
            Lub jeżeli posiadasz dużo narzędzi które kurzą się u Ciebie? Zarabiaj na nich!
            <!-- Who does the javascript ? -->
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-5" style="width: 300px; float: none; margin: 0 auto">
            <form action="#" method="post" th:action="@{/updateProfile}" th:object="${profileEditForm}" >
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">ID:</label>
                    <input style="color: lightgray" readonly class="col-8" th:field="*{id}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Nazwa użytkownika:</label>
                    <input style="color: lightgray" readonly class="col-8" th:field="*{username}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Data dołączenia:</label>
                    <input style="color: lightgray" readonly class="col-8" th:field="*{createdAt}">
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Email:</label>
                    <input class="col-8" th:field="*{email}" >
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Kod pocztowy:</label>
                    <input class="col-8" th:field="*{postalCode}" >
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Nowe hasło:</label>
                    <input class="col-8" type="password" th:field="*{newPasswordFirst}" >
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Powtórz hasło:</label>
                    <input class="col-8" type="password" th:field="*{newPasswordSecond}" >
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label padding-top-none">Aktualne hasło:</label>
                    <input class="col-8" type="password" th:field="*{currentPassword}" >
                </div>
                <input class="btn btn-primary form-control" style="margin-left: 10px" type="submit" value="Aktualizuj dane">
            </form>
        </div>
    </div>
    <div class="page-divider">&nbsp;</div>
    <div class="col" style="margin-right: 15px">
        <th:block> <!-- Single item -->
            <div class="row offer">
                <div class="col-sm-3 offer-thumbnail">
                    <img th:src="@{/images/logo.png}" width="200px">
                </div>
                <div class="col">
                    <div class="offer-content">
                        <a href="http://www.google.com">
                            <p class="offer-title">Piła spalinowa !!</p>
                            <p class="offer-desc">5KM, 500ccm 50cm prowadnica, świeżo naostrzony łańcuch</p>
                            <div class="offer-auxData">
                                Wygaśnie za 5dni
                                <div style="text-align: right">
                                    <b>50zł/dzień</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </th:block> <!-- Single item -->
    </div>
    <div id="footer" class="row justify-content-sm-center">
        <div class="page-divider">&nbsp;</div>
        <div class="col-sm-3" style="text-align: center">
            <p>MyToolYourTool &copy; 2020</p>
        </div>
    </div>
</div>
</body>
</html>
