<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head.html :: head">

</head>
<body id="body">
<div class="container main-container" style="padding-top: 15px">
    <div th:replace="fragments/headerFragment.html :: header(searchFrom=${searchForm}, username=${username}, time=${time}, loginForm=${loginForm})">

    </div>
    <div class="row" id="navBar">
        <div class="col">
            <a th:href="@{/}">Strona głowna</a>
        </div>
        <div class="col">
            <a th:href="@{/login}">Login</a>
        </div>
        <div class="col">
            <a id="current" th:href="@{/register}">Rejestracja</a>
        </div>
        <div class="col">
            <a th:href="@{/search}">Wyszukaj</a>
        </div>
        <div class="col">
            <a th:href="@{/profile}">Profil</a>
        </div>
        <div class="col">
            <a th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
    <div class="row justify-content-center" id="welcomeMessage">
        <div class="col-sm-8 alert alert-primary alert-dismissible fade show">
            Oszczędzaj z nami. Nie kupuj narzędzi które wykorzystasz tylko raz. Wypożyczaj je!<br>
            Lub jeżeli posiadasz dużo narzędzi które kurzą się u Ciebie? Zarabiaj na nich!
            <!-- Who does the javascript ? -->
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-5" style="width: 300px; float: none; margin: 0 auto">
            <div style="text-align: center">
                Zarejestruj się !
            </div>
            <!--/*@thymesVar id="registerFormModel" type="pl.polsl.inzoprog.myToolYourTool.models.forms.RegisterForm"*/-->
            <form action="#" method="post" th:action="@{/register}" th:object="${registerFormModel}">
                <p>Login: <input style="width: 97%" th:field="*{username}" type="text"></p>
                <p>Mail: <input style="width: 97%" th:field="*{email}" type="email"></p>
                <p>Hasło: <input style="width: 97%" th:field="*{passwordFirst}" type="password"></p>
                <p>Powtórz hasło: <input style="width: 97%" th:field="*{passwordSecond}" type="password"></p>
                <p>Kod pocztowy: <input pattern="\d{2}-\d{3}" style="width: 97%" th:field="*{postalCode}"
                                        type="text"></p>
                <a th:href="@{/forgottenPassword}">Nie pamiętasz hasła?</a>
                <input class="btn btn-primary" style="display:block; width: available; margin: 0 auto" type="submit"
                       value="Zarejestruj">
            </form>
        </div>
    </div>
    <div class="row justify-content-sm-center" id="footer">
        <div class="page-divider">&nbsp;</div>
        <div class="col-sm-3" style="text-align: center">
            <p>MyToolYourTool &copy; 2020</p>
        </div>
    </div>

</div>
</body>
</html>
