<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>My Tool Your Tool</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/popper.min.js"></script>
    <script src="/webjars/bootstrap/bootstrap.min.js"></script>
    <link href="styles/register.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div id="header" class="row">
        <div class="col">
            <div id="logo">
                <a href="/">
                    <img src="/images/logo.png"  alt="Logo" />
                </a>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
</body>
</html>