
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    background-size: auto;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    column-fill: auto;
}
.button4 {font-size: 20px;}
.button5 {font-size: 24px;}
.form-text
{
    size: auto;
    font-size: 20px;
    color: green;
}

